.booktitle {
	font-size: 10pt;
}

.rating {
	font-size: 8pt;
	font-color: lightgray;
}

.datefinished {
	font-size: 8pt;
	font-color: lightgray;
}

.nav {
	position: fixed;
	left: 20px;
	top: 10px;

	font-family: monospace;
	font-size: 1.5em;
	color: lightblue;
}

.nav .yearname:hover, .monthname:hover {
	color: darkblue;
	cursor: pointer;
}

ol {
	list-style-type: none;
	text-decoration-color: blue;
}